@import "../variables";

.books {}

.book {
  .book-cover {
    .book-cover-link {}
  }

  .book-details {
    display: none;
  }

  &.not-accessible:not(.trial-available) {
    /* img {
      opacity: .5;
      filter: grayscale(100%);
      transition: .5s all;
    } */

    h4 {
      color: $gray-600 !important;
    }

    &:hover {
      img {
        opacity: 1;
        filter: grayscale(0%);
      }
    }
  }
}

.book-cover-picture {
  position: relative;
  display: block;
  padding-bottom: 142.2%;

  border: 1px solid $middle;

  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .book-access {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    color: $gray-300;
    background-color: $gray-800;

    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    &.trial-available {
      color: $orange;
    }
  }

  .book-tag {
    position: absolute;
    top: 15px;
    left: -3px;
    padding: 3px 7px;
    color: $white;
    background-color: $primary;
    z-index: 5;
  }

  &.series {
    border: none;

    img {
      top: 0;
      left: 0;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 1px solid $middle;
      z-index: 2;
    }

    &:before,
    &:after {
      content:'';
      position: absolute;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background-color: $white;
      border: 1px solid $middle;
    }

    &:before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &:after {
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }
}

.book-info {
  .book-titles {}
  .book-categories {}
  .book-references {}
  .book-excerpt {}
  .info-tags {
    display: flex;
    flex-flow: row wrap;
    gap: .25rem;

    .info-tag {
      font-size: 0.75em;
      padding: 3px 7px;
      color: $dark;
      background-color: $light;
      border-radius: 3px;
    }
  }
}

.book-list {
  display: block !important;

  .book {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
    transform: unset !important;

    .book-cover {
      min-width: 180px;
      width: 20%;
    }

    .book-info {
      flex: 1 1 0%;

      .book-details {
        display: block;
      }
    }

    @media (max-width: (map-get($grid-breakpoints, sm)-1)) {
      flex-direction: column;
      gap: 1rem;

      .book-cover {
        width: 70%;
        max-width: 300px;
      }

      .book-info {

      }
    }
  }
}
