@import '../variables';

$icon-favorite: "";
$icon-favorite: "";

$icon-folder: "";
$icon-folder-hover: "";

$icon-refs: "";
$icon-refs-hover: "";

$icon-download: "";
$icon-download-hover: "";

$icon-info: "";
$icon-info-hover: "";

a.nav-link {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center !important;
  gap: .25rem;

  &:hover {
    color: $primary
  }

}

.btn-control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 2em;
  height: 2em;

  color: inherit;

  &:hover {
    background-color: $light;
  }

  &.active {
    background-color: $light;
  }
}

.no-hover {
  width: initial;
  height: initial;
  opacity: .5;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: 1;
    color: inherit !important;
    background: inherit !important;
  }
}

.pointer {
  cursor: pointer;
}

.badge-btn {
  cursor: pointer;

  &:hover {
    background-color: var(--bs-gray-200) !important;
  }
}
