@import '../variables';

$icon-favorite: "\e83c";
$icon-favorite-hover: "\e17d";

$icon-folder: "\e83d";
$icon-folder-hover: "\e3f5";

$icon-refs: "\ea05";
$icon-refs-hover: "\e235";

$icon-download: "\eac6";
$icon-download-hover: "\e927";

$icon-info: "\e80d";
$icon-info-hover: "\e425";

$icon-bookmark: "\ebae";
$icon-bookmark-hover: "\e3de";

$icon-note: "\eb1f";
$icon-note-hover: "\e34f";

a.nav-link,
button.nav-link {
  display: flex !important;
  flex-flow: row nowrap !important;
  align-items: center !important;
  gap: .35rem;

  white-space: nowrap;

  &:hover {
    color: $primary
  }

}

[disabled] {
  color: $disabled;
  pointer-events: none;
}

.btn-control,
a.btn-control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  background-color: transparent;
  padding: .5rem;
  margin: 0;
  width: 2em;
  height: 2em;

  color: inherit;
  text-decoration: none;

  &:hover {
    background-color: $light;
    mix-blend-mode: multiply;
  }

  &.active {
    color: $primary;
    background-color: $light;
    mix-blend-mode: multiply;

    &.btn-control-favorite > span::before {
      content: $icon-favorite-hover;
    }

    &.btn-control-folder > span::before {
      content: $icon-folder-hover;
    }

    &.btn-control-refs > span::before {
      content: $icon-refs-hover;
    }

    &.btn-control-info > span::before {
      content: $icon-info-hover;
    }

    &.btn-control-bookmark > span::before {
      content: $icon-bookmark-hover;
    }

    &.btn-control-note > span::before {
      content: $icon-note-hover;
    }
  }

  &.disabled {
    color: $disabled;
    pointer-events: none;
  }
}

.no-hover {
  width: initial;
  height: initial;
  opacity: .5;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: 1;
    color: inherit !important;
    background: inherit !important;
  }
}

.pointer {
  cursor: pointer;
}

.badge-btn {
  cursor: pointer;

  &:hover {
    background-color: var(--bs-gray-200) !important;
  }
}
