@import '../variables';
@import '../../../node_modules/bootstrap/scss/functions';

@function best-contrast($background, $color1, $color2) {
  $contrast1: contrast-ratio($background, $color1);
  $contrast2: contrast-ratio($background, $color2);

  @if $contrast1 > $contrast2 {
    @return $color1;
  } @else {
    @return $color2;
  }
}

@mixin text-bg-variant($color) {
  color: best-contrast($color, $black, $white) !important;
  background-color: $color !important;
}

@each $name, $color in $theme-colors {
  .outline-#{$name} {
    color: $color !important;
    background-color: transparent !important;
    border: 1px solid $color !important;
  }

  .hover-bg-#{$name}:hover {
    background-color: shift-color($color, 10%) !important;
  }

  .hover-text-#{$name}:hover {
    color: shift-color($color, 20%) !important;
  }

  .hover-text-bg-#{$name}:hover {
    @include text-bg-variant($color);
  }

  .active-text-#{$name}.active {
    color: $color !important;
  }

  .active-bg-#{$name}.active {
    background-color: $color !important;

    &:hover {
      background-color: $color !important;
    }
  }

  .active-text-bg-#{$name}.active {
    @include text-bg-variant($color);

    &:hover {
      background-color: $color !important;
    }
  }

  .bg-mark-#{$name} {
    @include text-bg-variant($color);
    padding: 0 0.1em;
    border-radius: 0.15em;
  }

  .hide-bg-mark-#{$name} mark.bg-mark-#{$name} {
    background-color: transparent !important;
    color: inherit !important;
  }
}

.bg-transparent-all {
  mark {
    background-color: transparent !important;
    color: inherit !important;
  }
}

.text-disabled {
  color: fade-out($middle, .5) !important;
}
