@import "../variables";

.document-view {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  .document-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .document-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 100%;
      height: 2rem;
      background-color: $light;
      padding: 0 1rem;

      .header-toolbar {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        max-width: 100%;

        .nav-link.text-disabled {
          color: $black !important;
          font-weight: $font-weight-bold !important;
        }

        .breadcrumbs {
          display: flex;
          flex-direction: row;
          flex-shrink: 1;
          align-items: center;
          gap: .25rem;
          overflow: hidden;

          .separator {
            font-size: 10px;
          }

          .nav-link {
            flex: 1 1 0;
            max-width: fit-content;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .nav-text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        .header-toolbar-tools {
          display: flex;
          flex-flow: row nowrap;
          align-items: stretch;
          margin-left: auto;
        }
      }
    }

    .document-body {
      flex: 1 0 0;
      overflow-y: auto;

      .document {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;

        @media (max-width: $mobile) {
          padding: .5rem;
        }
      }
    }

    .document-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 3rem;
      background-color: $light;
      padding: 0 1rem;

      .footer-toolbar {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        .footer-toolbar-nav {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          gap: .5rem;
          align-items: center;
          max-width: calc(100% - 30px - 1.5rem - clamp(25px, 5%, 50px));

          .nav-slider {
            flex-grow: 1;
            position: relative;
            height: 1rem;

            .nav-slider-timeline {
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: $middle;
            }

            .nav-slider-button {
              position: absolute;
              top: calc(50% - 8px);
              left: calc(50% - 8px);
              width: 16px;
              height: 16px;
              background-color: $middle;
              cursor: pointer;

              &:hover {
                background-color: $primary;
              }
            }
          }
        }

        .footer-toolbar-end {}
      }
    }
  }
}
