@import "../variables";

.document-view {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

  .document-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .document-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 100%;
      height: 2rem;
      background-color: $light;
      padding: 0 1rem;

      .header-toolbar {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        max-width: 100%;

        .nav-link.text-disabled {
          color: $black !important;
          font-weight: $font-weight-bold !important;
        }

        .breadcrumbs {
          display: flex;
          flex-direction: row;
          flex-shrink: 1;
          align-items: center;
          gap: .25rem;
          overflow: hidden;

          .separator {
            font-size: 10px;
          }

          .nav-link {
            flex: 1 1 0;
            max-width: fit-content;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .nav-text {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }

        .header-toolbar-tools {
          display: flex;
          flex-flow: row nowrap;
          align-items: stretch;
          margin-left: auto;
        }
      }
    }

    .document-body {
      flex: 1 0 0;
      overflow-y: auto;

      .document {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem;

        @media (max-width: $mobile) {
          padding: .5rem;
        }
      }
    }

    .document-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 3rem;
      background-color: $light;
      padding: 0 1rem;

      .footer-toolbar {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 2.5rem;

        .footer-toolbar-nav {
          flex-grow: 1;
          display: flex;
          flex-direction: row;
          gap: .5rem;
          align-items: center;
          max-width: calc(100% - 30px - 1.5rem - clamp(25px, 5%, 50px));

          .nav-slider {
            flex-grow: 1;
            position: relative;
            height: 1rem;

            form {
              width: 100%;
            }

            .form-range {
              height: 1rem;
            }

            .nav-slider-button {
              position: absolute;
              top: calc(50% - 8px);
              left: calc(50% - 8px);
              width: 16px;
              height: 16px;
              background-color: $middle;
              cursor: pointer;

              &:hover {
                background-color: $primary;
              }
            }

            .slider-bubble {
              position: absolute;
              left: 0;
              bottom: 0;
              transform: translateY(-2rem);
              background-color: #fff;
              border-radius: 999px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
              padding: .25rem .5rem;
              white-space: nowrap;
              font-size: .75rem;
              opacity: 0;
              transition: left 100ms ease, opacity 100ms ease;
              z-index: 3;

              .slider-bubble-text {
                display: inline-block;
                max-width: 260px;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .spinner {
                display: inline-block;
                margin-left: .25rem;
                vertical-align: middle;

                > div {
                  width: 0.4rem;
                  height: 0.4rem;
                  margin: 0 0.1rem;
                  background-color: $primary;
                  border-radius: 100%;
                  display: inline-block;
                  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
                }

                .bounce1 { animation-delay: -0.32s; }
                .bounce2 { animation-delay: -0.16s; }
              }
            }
          }
        }

        .footer-toolbar-end {}
      }

      @keyframes sk-bouncedelay {
        0%, 80%, 100% {
          transform: scale(0);
        }
        40% {
          transform: scale(1.0);
        }
      }
    }
  }
}
