@import "../variables";

.filter-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 0 0;
  align-items: center;
  gap: 1rem;

  .view-selectors {
    display: flex;
    flex-flow: row nowrap;
    gap: 1px;
  }

  @media (min-width: map-get($grid-breakpoints, sm)) {
    flex: 0 0 auto;
    width: auto;
  }
}

.list-filter {
  .list-filter-header {
    padding: .5rem .75rem;
    background-color: $light;

    input, h5, h6 {
      margin: 0;
      line-height: 1;
    }
  }

  .list-filter-items {
    padding: .75rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  label {
    display: flex;
    flex-direction: row;
    //align-items: center;
    gap: .5rem;
  }
}
