.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;

  > h1, > h2, > h3, > h4, > h5, > h6 {
    margin: 0;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
