@import "../variables";

.folders {
  .folder-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .folder-icon-container {
      margin-left: 2.25rem;

      a {
        color: inherit;
        text-decoration: inherit;

        &:hover {

        }
      }

      .folder-icon {
        min-width: 5rem;
        max-width: 6rem;
        fill: $light;
      }

      .folder-tools {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 1px;
      }
    }

    .folder-name {

    }

    .folder-count {
      font-size: $font-size-sm;
      color: $middle;
    }
  }
}

