@import "../bootstrap-override";

$columns: 1, 2, 3, 4, 5, 6, 7, 8;

@each $col in $columns {
  .grid-cols-#{$col} {
    grid-template-columns: repeat(#{$col}, 1fr) !important;
  }
}

@each $breakpoint, $breakpoint-width in $grid-breakpoints {
  @media (min-width: #{$breakpoint-width}) {
    @each $col in $columns {
      .grid-cols-#{$breakpoint}-#{$col} {
        grid-template-columns: repeat(#{$col}, 1fr) !important;
      }
    }
  }
}
