@import "../variables";

.icon {
  &.icon-lg {
    font-size: 1.5em;
  }

  &.icon-sm {
    font-size: 0.875em;
  }
}

@each $name, $color in $theme-colors {
  .icon-#{$name}.icon {
    color: $color !important;
  }

  .icon-hover-#{$name}.icon:hover {
    color: $color !important;
  }
}

