picture {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.fit-cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.fit-contain {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.ratio-book {
  --bs-aspect-ratio: 142.2%;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
