@import "../variables";

.items {}

.item {
  .item-cover {
    .item-cover-link {}
  }

  .item-controls {
    display: flex;
    flex-flow: row nowrap;
    margin: .25rem 0 .5rem 0;
  }

  .item-details {
    display: none;
  }

  &.not-accessible:not(.trial-available) {
    .item-author,
    .item-title,
    .item-subtitle {
      color: $gray-600 !important;
    }
  }
}

// COVER PICTURE
.item-cover-picture {
  position: relative;
  display: block;

  border: 1px solid $middle;

  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

  .item-access {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    color: $gray-300;
    background-color: $gray-800;

    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;

    &.trial-available {
      color: $orange;
    }
  }

  .item-tag {
    position: absolute;
    top: 15px;
    left: -3px;
    padding: 3px 7px;
    color: $white;
    background-color: $primary;
    z-index: 5;


  }

  &.doc {
    padding-bottom: 142.2%;
  }

  &.image {
    padding-bottom: 100%;
    background-color: $lighter;

    img {
      object-fit: contain;
    }
  }

  &.series,
  &.collection{
    padding-bottom: 142.2%;
    border: none;

    img {
      top: 0;
      left: 0;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: 1px solid $middle;
      z-index: 2;
    }

    &:before,
    &:after {
      content:'';
      position: absolute;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background-color: $white;
      border: 1px solid $middle;
    }

    &:before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &:after {
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }
}

.item-info {
  .item-link {
    text-decoration: none;
    color: inherit;
  }

  .item-author {
    font-size: $font-size-sm-em;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  .item-title {
    font-size: $font-size-lg-em;
    line-height: 1.2em;
    color: $primary;
  }
  .item-subtitle {
    font-size: $font-size-sm-em;
  }

  .item-categories {
    display: flex;
    flex-flow: row wrap;
    gap: .25rem;

    .item-category {
      font-size: $font-size-xs;
      text-transform: uppercase;
      text-decoration: none;
      color: $dark;
      background-color: $light;
      padding: .25rem .75rem;
      border-radius: 15px;
    }
  }

  .item-references {
    display: flex;
    flex-flow: row wrap;
    gap: .25rem;
  }
  .item-excerpt {}
  .item-results {
    font-size: $font-size-sm;
  }
}

// ITEM LIST
.item-list {
  display: block !important;

  .item {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;
    transform: unset !important;

    .item-cover {
      min-width: 180px;
      width: 20%;
    }

    .item-info {
      flex: 1 1 0%;

      .item-details {
        display: block;
      }
    }

    @media (max-width: (map-get($grid-breakpoints, sm)-1)) {
      flex-direction: column;
      gap: 1rem;

      .item-cover {
        width: 70%;
        max-width: 300px;
      }

      .item-info {

      }
    }
  }
}
