@import "../variables";
@import "mixins";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .site-indent {
    max-width: map-get($container-max-widths, xl);
    margin-left: clamp(0px, calc((100vw - map-get($container-max-widths, xl)) / 2), 100vw) !important;
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: .5rem;

    &.scroll {
      flex: 1 1 0;
      overflow-y: auto;
    }
  }

  [class*=wk-icon-] {
    margin: 0 !important;
  }

  header {
    position: relative;
    z-index: 1025 !important;
    min-height: 40px;

    .nav-link {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .settings-button {
      position: fixed;
      top: 50%;
      right: 0;

      color: white;
      background-color: $orange;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      padding: .5rem;
    }
  }

  main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  footer {
    z-index: 1;
    .nav-link {
      padding: 0 !important;
    }
  }
}


.carousel {
  .carousel-inner {
    height: 450px;

    @include media-down(md) {
      height: 70vh;
    }

    &:has(> .carousel-item:only-child) ~ .carousel-control-prev,
    &:has(> .carousel-item:only-child) ~ .carousel-control-next {
      display: none;
    }

    .carousel-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

      .banner-left,
      .banner-right {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .banner-left {
        @include media-down(md) {
          order: 1;
          flex-grow: 0;
          height: unset !important;
        }
      }

      .banner-right {
        @include media-down(md) {

        }
      }
    }
  }
}

.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 1rem 0;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
  }

  * {
    z-index: 1;
  }
}

@each $breakpoint, $breakpoint-width in $grid-breakpoints {
  .max-width-#{$breakpoint} {
    max-width: #{$breakpoint-width} !important;
  }
}

