@import "../variables";

.list-group {
  .list-title {
    font-weight: 500;
  }
}

.list-items {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding-left: 0;

  .list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    width: 100%;

    .list-item-link {
      color: $dark;
      width: 100%;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }

    mark, em {
      font-weight: 500;
      font-style: normal;
      color: $primary;
      background-color: transparent;
      padding: 0;
      margin: 0;
    }
  }

  &.bullets {
    padding-left: 2rem;

    .list-item {
      display: list-item;
    }
  }
}

.bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
  border: none;
  padding: 0;
  margin: 5px;

  &:hover {
    transform: scale(1.15);
  }

  &.active, &:focus.active {
    outline: 3px solid;
    outline-offset: 0px;
  }

  // Color variations
  @each $name, $color in $colors {
    &-#{$name} {
      background-color: #{$color} !important;
      &.active {
        outline-color: rgba(red($color), green($color), blue($color), 0.5) !important;
      }
    }
  }

  // Size variations
  &-sm {
    width: 5px;
    height: 5px;
  }

  &-md {
    width: 10px;
    height: 10px;
  }

  &-lg {
    width: 15px;
    height: 15px;
  }

  &-xl {
    width: 28px;
    height: 28px;
  }
}
