#main-navbar {

    .navbar-nav {
        @media screen and (max-width: 767px) {
            width: 100%;
            justify-content: space-around;
        }
    }

    a {
        color: #ccc;

        &:hover {
            color: #fff;
        }
    }

    .collapse-nav-text {
        .nav-icon {
            @media screen and (max-width: 767px) {
                font-size: 24px !important;
            }
        }

        .nav-text {
            display: none;

            @media screen and (min-width: 768px) {
                display: inline;
            }
        }
    }
}
