@import '../variables';

.para-row {
  display: flex;
  flex-direction: row-reverse;
  gap: .5rem;

  .para-tools {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 30px;

    .para-buttons {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      opacity: 0;
      flex-direction: column;
      align-items: start;
      transition: all .3s ease-in-out;
    }
  }

  .para-content {
    padding-right: 1rem;
    border-right: 1px solid transparent;
    transition: all .3s ease-in-out;

    p {
      text-align: justify;
      margin: 0;
    }
  }

  &:hover {
    .para-tools {
      .para-buttons {
        display: flex;
        opacity: 1;
        z-index: 1;
      }
    }

    .para-content {
      border-right-color: $primary;
    }
  }
}