@import '../variables';

.para-bookmark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px - 1.5rem);
  text-align: center;
  margin: .5rem 0 .25rem;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    border-bottom: 1px dashed $primary;
  }

  [class*="wk-icon-"] {
    z-index: 1;
    box-sizing: content-box;
    padding: 0 .5rem;
    color: $primary;
    background-color: white;
  }
}

.para-row {
  display: flex;
  flex-direction: row-reverse;
  gap: .5rem;

  .para-tools {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 30px;

    .para-buttons {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      opacity: 0;
      flex-direction: column;
      align-items: start;
      transition: all .3s ease-in-out;
    }
  }

  .para-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding-right: 1rem;
    border-right: 1px solid transparent;
    transition: all .3s ease-in-out;

    .para-note {
      display: none;
      flex-direction: column;
      gap: .5rem;

      &.show {
        display: flex;
      }

      .para-note-content {
        display: flex;
        flex-flow: row nowrap;
        background-color: $lighter;

        .para-note-content-label {
          padding: .5rem;
          color: $white;
          background-color: $primary;
        }

        .para-note-content-text {
          flex-grow: 1;
          padding: 1rem;
        }
      }

      .para-note-input {
        padding: 1rem;
        background-color: $lighter;
      }

      .para-note-input {
        .para-character-counter {
          position: absolute;
          bottom: 5px;
          right: 10px;
          font-size: $font-size-sm;
          color: $middle;
        }
      }
    }

    .para-refs {
      padding: 1rem;
      background-color: $lighter;

      table {
        width: 100%;
        font-size: $font-size-sm;

        tr {
          &:not(:last-child) {
            border-bottom: 1px solid $gray-300;
          }

          td {
            padding: .5rem 1rem .5rem 0;
            vertical-align: top;

            &:last-child {
              padding-right: 0;
            }
          }
        }
      }
    }

    .para-indent {
      p {
        text-align: justify;
        margin: 0;
      }
    }
  }

  &[data-anchor]:hover {
    .para-tools {
      .para-buttons {
        display: flex;
        opacity: 1;
        z-index: 1;
      }
    }

    .para-content {
      border-right-color: $primary;
    }
  }
}
