@import "../variables";

.search-bar {
  position: relative;
  width: 50%;

  .search-results {
    position: absolute;
    display: none;

    left: 0;
    top: calc(100% - 1px);
    width: calc(100% - 31px);
    z-index: 1;

    background-color: $white;
    border: 1px solid $dark;

    .search-results-header {
      font-weight: $font-weight-bold;
      padding: .5rem 1rem;
      background-color: $light;
      line-height: 1;
    }

    ul.search-items {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-left: 1rem;
      margin: .5rem 0;

      > li.search-item {
        cursor: pointer;

        em {
          font-style: normal;
          font-weight: $font-weight-bold;
        }

        .item-cover {
          width: 50px;
          min-width: 50px;

          img {
            max-width: 100%;
          }
        }

        .item-info {
          flex-grow: 1;
          overflow: hidden;

          .book-author {
            font-size: $font-size-small;
          }

          .book-title {
            font-weight: $font-weight-bold;
          }
        }

        &:hover {
          text-decoration: underline;
          color: $primary;
        }
      }
    }

    .content {
      min-height: 200px;
    }

    &.show {
      display: flex;
      flex-direction: column;
    }
  }
}


.similar-phrases {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
}
