@import "../variables";

.table-of-contents {
  padding-left: 0;

  li {
    list-style: none;

    &.content-list {
      position: relative;

      > ul {
        display: none;
      }

      &.expanded {
        > .content-list-title > .tree-toggle {
          transform: rotate(90deg);
        }

        > ul {
          display: block;
        }
      }

      .content-list-title {
        display: flex;
        align-items: baseline;

        .tree-toggle {
          padding: 0;
          margin-right: .5rem;
          background: none;
          border: none;
          color: $dark;
          transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:focus {
            outline: none;
            color: $primary;
          }

          span {
            cursor: pointer;
            padding: 0;
            margin: 0;
            font-size: 0.875rem;
            color: $secondary;
            transition: transform 0.2s ease-in-out;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }

    a {
        display: block;
        color: $dark;
        text-decoration: none;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
    // a kommentelt részt cseréltem az alatta lévővel, hogy csak az első link kapjon margin-left-et
    //> a {
    //  margin-left: 1.4rem;
    //}

    .content-list-title > a:first-child {
      margin-left: 1.4rem;
    }

    // button esetén margin helyett padding, hogy ne legyen x-scrollbar
    > .toc-btn  {
      padding-left: 1.4rem;
    }

    > ul {
      padding-left: 1.5rem;
    }
  }
}
