@import "../variables";

.table-of-contents {
  padding-left: 0;

  li {
    list-style: none;

    > span {

    }

    a {
        color: $dark;
        text-decoration: none;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }

    >ul {
      padding-left: 1.65rem;
    }
  }
}
