@import "../variables";

.trial-box {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  color: $white;
  background-color: $orange;

  .trial-counter {
    font-weight: bold;
    width: 3.1em;
    padding-left: .5rem;
  }
}
