@import '../variables';

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-style: solid;
  box-sizing: content-box;

  background-color: $dark;

  &.bullet-sm {
    width: 5px;
    height: 5px;
  }

  &.bullet-lg {
    width: 15px;
    height: 15px;
  }

  &.bullet-outline {
    border-width: 3px;
  }
}

@each $name, $color in $colors {
  .bullet-#{$name} {
    background-color: #{$color} !important;
    border-color: lighten($color, 20%) !important;
  }
}
