@import '../variables';

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  box-sizing: content-box;

  background-color: $dark;

  &.bullet-sm {
    width: 5px;
    height: 5px;
  }

  &.bullet-lg {
    width: 15px;
    height: 15px;
  }
}

@each $name, $color in $colors {
  .bullet-#{$name} {
    background-color: #{$color} !important;
  }

  .bullet-outline-#{$name} {
    background-color: #{$color} !important;
    border: 3px solid lighten($color, 20%);
  }
}
