@import '../variables';

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

strong, b {
  font-weight: 500;
}

mark, em {
  font-style: normal;
  font-weight: $font-weight-bold;
  color: $primary;
}

.text-balanced {
  text-wrap: balance;
}

.wk-line-red,
.wk-line-green,
.wk-line-blue, {
  display: block;
  width: 100%;
  height: 5px;
}

.wk-line- {
  &red {
    background-color: $red;
  }
  &green {
    background-color: $green;
  }
  &blue {
    background-color: $blue;
  }
}
