@import '../variables';

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

strong, b {
  font-weight: 500;
}

.bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
  border: none;
  padding: 0;
  margin: 5px;

  &:hover {
    transform: scale(1.15);
  }

  &.active, &:focus.active {
    outline: 3px solid;
    outline-offset: 0px;
  }

  // Color variations
  @each $name, $color in $colors {
    &-#{$name} {
      background-color: #{$color} !important;
      &.active {
        outline-color: rgba(red($color), green($color), blue($color), 0.5) !important;
      }
    }
  }

  // Size variations
  &-sm {
    width: 5px;
    height: 5px;
  }

  &-md {
    width: 10px;
    height: 10px;
  }

  &-lg {
    width: 15px;
    height: 15px;
  }
}
